[user]
	name = Javi Cardenas
	email = 204915696+javi-cardenas-ke@users.noreply.github.com
[github]
	user = javi-cardenas-ke
[alias]
	co = checkout
	sw = switch # new with Git v2.23.0

	s = status
	a = add
	cm = commit -m
	rs = reset --soft
	p = push

	lo = log --oneline

	m = merge
	rb = rebase # NEVER rebase on a public branch like main

	b = branch
[push]
	autoSetupRemote = true
[init]
	defaultBranch = main
